/* title */
span.logo{
    font-size: 18px !important;
    font-weight: bold !important;
    background-color: #0f56af !important;
}

/* navbar */
nav.navbar {
    background: #1375ec !important;
}

/* sidebar */

.sidebar a {
    font-size: 18px;
    padding-left: 40px;
}


.sidebar a:hover{
    border-left: solid 4px #1375ec !important
}

.sidebar li.active a{
    border-left: solid 4px #1375ec !important
}


section.sidebar > ul > li {
    margin: 0.75rem 0
}

section.sidebar > ul > li:first-child {
    margin-top: 2rem
}

.sidebar .treeview ul li{
  padding-top: 2rem;
  padding-left: 1rem
}

.sidebar .treeview ul li:first-child{
  padding-top: 1.25rem
}

.sidebar .treeview ul li:last-child{
  padding-bottom: 1.25rem
}

.sidebar span {
    margin-left: 15px;
}


/* data-table enable scrollbar */
.datatables{
    overflow: auto;
}
table {
  white-space: nowrap;
}

td .form-group {
  margin-bottom: 0px;
}

td .selectize-control {
  margin-bottom: 0px;
}

.d-inline-block{
  display: inline-block;
}

.float-right {
  float: right;
}

.font-weight-bold {
  font-weight: bold;
}

.btn-primary, .btn-primary:visited, .page-buttons .btn-info {
  background-color: #1375ec;
  border-color: #1375ec;
}
.btn-primary:hover, .page-buttons .btn-info:hover {
  background-color: #1567ca;
  border-color: #0e54a9;
}

.box.box-solid.box-primary {
  border: solid 1px #1375ec;
}

.box.box-primary {
    border-top-color: #1375ec;
}

.box.box-solid.box-primary>.box-header {
    background: #1375ec;
    background-color: #1375ec;
}

.sidebar hr {
    margin-left: 2rem;
    margin-right: 2rem;
    border-color: #939393;
}

/* help-tip */
.help-tip{
    position: absolute;
    top: 0px;
    right: 18px;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}